* {
    box-sizing: border-box;
}
[class*="col"] {
    float: left;
}

.row::after{
    content: "";
    clear: both;
    display: block;
}

body, html{
    height: 100%;
    
}

body{
    background-image: url("../images/museum-background-image.png");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    margin: 0%;
}
div{
    font-family: "Roboto Slab";
    /* border: double cornflowerblue; */
}

#top{
    background-color: #154c79;
    padding: 1%;
    margin: 0%;
    color: aliceblue;
    text-align: center;
    box-sizing: border-box;
}

#top h1, #top nav {
    margin: auto;
    width: 0%;
    /* border: double cornflowerblue; */
}
#top h1{
    margin-top: 2%;
    width: 50%;
}

h1{
    font-family: "Raleway";
}

p {
    font-family: "Lato";
}

#top nav {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
}

#header {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: aliceblue;
    background-color: rgba(255, 165, 0, 0.8);
    border: 2px solid rgba(255, 165, 0, 0.8) ;
    border-radius: 20px;
    max-width: 99%;
    min-height: 300px;
    margin-left: .5%;
}

#footer{
    margin-top: 3%;
    margin-bottom: 2%;
    background-color: rgba(255, 165, 0, 0.8);
    color: aliceblue;
    background-color: rgba(255, 165, 0, 0.8);
    border: 2px solid rgba(255, 165, 0, 0.8) ;
    border-radius: 20px;
    max-width: 99%;
    margin-left: .5%;
}

#footer p{
    padding-left: 1%;
    padding-right: 1%;
}

#archaeologist{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: aliceblue;
    background-color: rgba(255, 165, 0, 1);
    border: 2px solid rgba(255, 165, 0, 1) ;
    border-radius: 20px;
    max-width: 90%;
    min-height: 300px;
    margin-left: 5%;
    
}

#anthropologist{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: aliceblue;
    background-color: rgba(255, 165, 0, 1);
    border: 2px solid rgba(255, 165, 0, 1) ;
    border-radius: 20px;
    max-width: 90%;
    min-height: 300px;
    margin-left: 5%;
    
}

#interpreter{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: aliceblue;
    background-color: rgba(255, 165, 0, 1);
    border: 2px solid rgba(255, 165, 0, 1) ;
    border-radius: 20px;
    max-width: 90%;
    min-height: 300px;
    margin-left: 5%;
    
}

#archaeologist, #anthropologist, #interpreter{
    display: flex;
}

#staff1-img{
    margin-top: 11%;
    margin-left: 5%;
}

#staff1-persona{
    margin-top: 1%;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 2%;

}

#staff2-img{
    margin-top: 13%;
    margin-right: 5%;
}

#staff2-persona{
    margin-top: 1%;
    text-align: left;
    padding-left: 10%;
    padding-right: 11%;
    margin-bottom: 2%;
}


#staff3-img{
    margin-top: 14%;
    margin-left: 5%;
}

#staff3-persona{
    margin-top: 1%;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 2%;
}

img{
    border: 0.25px solid none;
    border-radius: 10px;
}

hr{
    width: 90%;
}

#mid-col-1, #mid-col-2, #mid-col-3{
    margin-top: 2%;
    margin-bottom: 0%;
    min-height: 300px;
   
}

#mid-col-1{
    
    color: aliceblue;
    background-color: rgba(255, 165, 0, 0.8);
    border: 2px solid rgba(255, 165, 0, 0.8) ;
    border-radius: 20px;
    width: 32%;
    margin-left: .5%;
    margin-top: .5%;
    margin-bottom: 0%;
}

#mid-col-1 h3, #mid-col-1 p{
    padding-left: 5%;
    padding-right: 5%;
}

#mid-col-2{
    
    color: aliceblue;
    background-color: rgba(255, 165, 0, 0.8);
    border: 2px solid rgba(255, 165, 0, 0.8) ;
    border-radius: 20px;
    width: 32%;
    margin-left: 1.50%;
    margin-top: .5%;
    margin-bottom: 0%;

}

#mid-col-2 h3, #mid-col-2 p{
    padding-left: 5%;
    padding-right: 5%;
}

#mid-col-3{
    
    color: aliceblue;
    background-color: rgba(255, 165, 0, 0.8);
    border: 2px solid rgba(255, 165, 0, 0.8) ;
    border-radius: 20px;
    width: 32%;
    margin-right: 0%;
    margin-top: .5%;
    margin-left: 1.50%;
    margin-bottom: 0%;
}

#mid-col-3 h3, #mid-col-3 p{
    padding-left: 5%;
    padding-right: 5%;
}

h2, h3{
    color: #154c79;
}

button{
    background-color: #5b97c7;
    font-weight: bold;
    color: aliceblue;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: .5px solid #5b97c7;
    border-radius: 10px;
    margin: 0 7px;
}
